extends layout

block content
        section.span11.offsetp.gray1
            h2 Hack&amp;Roll 2012

            #teams
                for team in teams
                    .team
                        h3 #{team.name}
                        //- dl.dl-horizontal.team
                        dl
                            dt App:
                            dd #{team.app}

                            dt Stack:
                            dd #{team.stack}

                            dt Description:
                            dd #{team.description}
