extends layout

block content
    .gradient-bg
        .container
            img(src="/img/hacknroll.png")
            .navbar.navbar-static
                .navbar-inner
                    ul.nav
                        li
                            a Home
            .page
                ul
                    li block
                    li dsf

