extends layout

block content
    #container.container
        header
            h1
                img(alt='hack&roll by NUS Hackers', src="/img/hacknrolllogo.png")

        img#banner(src='/img/banner.png')
        p.maintext 24th - 25th Feb &middot; 24h hackathon
        p hack&amp;roll is a 24 hour hackathon organised by <a href='http://nushackers.org'>NUS Hackers</a>.

        //- main call to action
        h3
            a#calltoaction(href="#") Register Now

        section
            h2 Details
            p Details to come.

        section
            h2 Prizes
            p Prizes to be confirmed.

        section
            h2 FAQ

            .question
                h3 Who can participate?
                p .
                    The hackathon is open to all students.
                    <br/>
                    Students from NUS, NTU, SMU, SUTD, polytechnics, junior colleges are welcome.
            .question
                h3 Are there restrictions on teamsize?
                p .
                    Teams can be of size 1 to 4.

        section
            h2 Sponsors
            #logos
                img(src='/img/palantir.png', alt='Palantir Logo')
                img(src='/img/paypal.png', alt='Paypal Logo')
                img(src='/img/soc.jpg', alt='NUS SoC Logo')
                img(src='/img/github.png', alt='Github Logo')
                    

        footer
            p.
                &copy; 2013
                &middot;
                <a href='http://nushackers.org'>NUS Hackers</a>

                &middot;
                <a href='http://school.nushackers.org'>hackerschool</a>

                &middot;
                <a href='mailto:coreteam@nushackers.org'>Contact Us</a>
