extends layout

block content
    section.span11.offsetp.gray1
            h2 Details
            dl.dl-horizontal
                dt When:&nbsp;
                dd 24th - 25 Feb 2013, 1pm - 2pm
            
                dt Who:&nbsp;
                dd All students, in teams of 1 to 4

                dt What:&nbsp;
                dd A 24h hackathon

                dt Where:&nbsp;
                dd.addr.
                    School of Computing, COM1 Basement
                    <br/>National University of Singapore, Computing 1
                    <br/>13 Computing Drive
            
                dt Fee:&nbsp;
                dd $5/pax 
                  em (make payment at COM1-02-15 or at our next Friday Hacks)

                dt Rules:&nbsp;
                dd 
                  a(href="/rules") The Complete Rulebook
                

        section.span11.offsetp.gray2
            h2 Prizes
            dl.dl-horizontal
              dt First Prize:
              dd An all expense-paid trip to Sillicon Valley, (Palantir HQ, courtesy of Palantir).<br/>Github Silver Accounts
              dt Other Prizes:
              dd Prizes to be confirmed.

        section.span11.offsetp.gray3
            h2 FAQ

            .question
                h3 Who can participate?
                p .
                    The hackathon is open to all students.
                    <br/>
                    Students from NUS, NTU, SMU, SUTD, polytechnics and junior colleges are welcome.
            .question
                h3 Are there restrictions on team size?
                p .
                    Teams can have between 1 and 4 members.
            .question
                h3 Can I use existing code?
                p .
                    You are free to use open source libraries, or any libraries you may have coded before. 
                    <br/>
                    However, you cannot use a project you made before.

            .question
                h3 Will I have IP rights over my code?
                p .
                    Yep. All code you write is yours. 

            .question
                h3 What's the Judging criteria?
                p .
                    Please check the <a href="/rules">rulebook</a> for more details.

            .question
                h3 Will food be provided?
                p .
                    Yes, we'll serve dinner, snacks, supper, breakfast and lunch.

            .question
                h3 What am I supposed to develop?
                p .
                    Anything you want. A good starting point would be to consider problems you want to solve.
                    <!--<br/>
                    // <a href="/">Here's</a> a list of projects from last year to give you a better idea.-->

            .question
                h3 Am I limited to X language, Y framework, Z platform?
                p .
                    Use whatever language/framework/platform you want :)

            .question
                h3 Can I build a hardware project?
                p .
                    Sure! You are free to build whatever you want.
        
        section.span11.offsetp.orange-top
            h2 Sponsors
            #logos
                a(href="http://palantir.com")
                    img(src='/img/palantir.png', alt='Palantir Logo')
                //- a(href="http://paypal.com")
                //-     img(src='/img/paypal.png', alt='Paypal Logo')
                a(href="http://www.comp.nus.edu.sg")
                    img(src='/img/soc.jpg', alt='NUS SoC Logo')
                //- a(href="http://github.com")
                //-     img(src='/img/github.png', alt='Github Logo')
                    
