extends layout

block content
    .gradient-bg
        .container
            img(src="/img/hacknroll.png")
            .navbar.navbar-static
                .navbar-inner
                    .brand
                        a Home
                    ul.nav
                        li.active
                            a Lorem
                        li
                            a ipsum
            section.banner#mainbanner                
            
            section.centered
                h3 Announcements

