extends layout

block content
    section.span11.offsetp.gray1
            h2 Details
            dl.dl-horizontal
                dt When:&nbsp;
                dd 24th - 25 Feb 2013, 1pm - 2pm (next day)

                dt Who:&nbsp;
                dd.
                    All students, in teams of 1 to 4.
                    <br/>
                    Members of the public are also welcome to join us and hack on stuff
                    <br/>
                    <strong>Only students will be eligible for prizes</strong>

                dt What:&nbsp;
                dd A 24h hackathon

                dt Where:&nbsp;
                dd.addr.
                    School of Computing, COM1 Basement
                    <br/>National University of Singapore, Computing 1
                    <br/>13 Computing Drive

                dt Fee:&nbsp;
                dd $5/pax
                  em (make payment at COM1-02-15 or at our next Friday Hacks)

                dt Rules:&nbsp;
                dd
                  a(href="/rules") The Complete Rulebook


        section.span11.offsetp.gray2
            h2 Prizes
            img(style='width:150px; display: inline-block; float: right; margin: 15px 10px 10px 18px;', src='/img/palantir_inline.png', alt='Palantir Technologies')
            img(style='width:150px; display:block;clear:both; float: right; margin: 0 10px 0 18px;', src='/img/blackberry_black.jpg', alt='Palantir Technologies')
            
            dl.dl-horizontal
              dt First Prize:
              dd <strong>An all-expense-paid trip to Silicon Valley.</strong> <em>(Palantir Technologies will fly the winning team out on a all expense paid trip to Silicon Valley, California to experience their HQ and the wonderful start-up history surrounding it)</em>.<br/><strong>BlackBerry Z10s</strong> for each member<br/><strong>Github Small Accounts</strong> for each member
              dt Second Prize:
              dd <strong>Parrot AR Drones</strong> for each member
              dt Third Prize:
              dd <strong>MK808s (1.6 Ghz Dual Core CPU computer in a USB stick)</strong> for each member
              dt Spot Prizes:
              dd <em>Best Freshmen Effort</em> and <em>Popular Choice</em>; prizes to be announced.

        section.span11.offsetp.gray3
            h2 FAQ

            .questions
                :markdown
                    ### Who can participate?
                    The hackathon is open to all students in institutions such as NUS, NTU, SMU and SUTD. Students in polytechnics and junior colleges are welcome as well.

                    Members of the public who are __not students__ are encouraged to come down to hack and enjoy the atmosphere.

                    ### I'm not a student, can I participate?
                    Yes. Do come down to hack anyway. You won't be eligible for the prizes but do register so that we can _provision_ enough food for everyone.

                    ### How big should my team be?
                    The maximum team size is 4; you can participate individually as well.

                    ### Can I use existing code?
                    You are free to use any open source libraries, including those you have coded before.

                    However, you cannot use a project you have made before.

                    ### Will I have IP rights over my code?
                    Yep. [All your base still belongs to yous](http://en.wikipedia.org/wiki/All_your_base_are_belong_to_us).

                    ### What's the judging criteria?
                    Please check the [rulebook](/rules) for more details.

                    ### Will food be provided?
                    Dinner and supper are on us, as well as the next day's breakfast and lunch, and snacks in between.

                    Oh, did we mention free-flow of coffee and drinks throughout?

                    ### What am I supposed to develop?
                    Anything you want. A good starting point would be to consider problems you want to solve.

                    ### Am I limited to X language, Y framework, Z platform?
                    Use whatever language/framework/platform you want :)

                    ### Even a hardware project?
                    Sure! We really do mean whatever you want.

                    ### I still don't know what to build. Help!
                    Here is a link to last year's teams and what they built during the hackathon: [http://nushackers.org/2012/02/hackroll-2012/](http://nushackers.org/2012/02/hackroll-2012/)


        section.span11.offsetp.orange-top
            h2 Supported By
            #logos
                a(href="http://palantir.com")
                    img(src='/img/palantir.png', alt='Palantir')
                a(href="http://www.comp.nus.edu.sg")
                    img(src='/img/soc.jpg', alt='NUS School of Computing')
                a(href="http://www.nus.edu.sg/enterprise/")
                    img(src='/img/nec.png', alt='NUS Enterprise')
                a(href="http://sg.blackberry.com")
                     img(src='/img/blackberry.jpg', alt='BlackBerry')
                a(href="http://paypal.com")
                    img(src='/img/paypal.jpg', alt='Paypal')
                a(href="http://www.ida.gov.sg/")
                    img(src='/img/ida.jpg', alt='IDA')

                //- br
                //- br
                a(href="http://github.com")
                    img(style='width:140px; margin-right: 20px;', src='/img/github.png', alt='Github')
                a(href="https://www.semantics3.com/")
                    img(src='/img/semantics3.png', alt='Semantics3')
                a(href="http://developer.hoiio.com/")
                    img(src='/img/hoiio.png', alt='Hoiio')
                a(href="http://www.blackberry.com/")
                    img(src='/img/)
