extends layout

block content
    section.span11.offsetp.gray1
            h2 Details
            dl.dl-horizontal
                dt When:&nbsp;
                dd 24th - 25 Feb 2013, 1pm - 2pm (next day)
            
                dt Who:&nbsp;
                dd All students, in teams of 1 to 4

                dt What:&nbsp;
                dd A 24h hackathon

                dt Where:&nbsp;
                dd.addr.
                    School of Computing, COM1 Basement
                    <br/>National University of Singapore, Computing 1
                    <br/>13 Computing Drive
            
                dt Fee:&nbsp;
                dd $5/pax 
                  em (make payment at COM1-02-15 or at our next Friday Hacks)

                dt Rules:&nbsp;
                dd 
                  a(href="/rules") The Complete Rulebook
                

        section.span11.offsetp.gray2
            h2 Prizes
            dl.dl-horizontal
              dt First Prize:
              dd An all-expense-paid trip to Silicon Valley, (Palantir HQ, courtesy of Palantir).<br/>Github Small Accounts
              dt Other Prizes:
              dd Prizes to be confirmed.

        section.span11.offsetp.gray3
            h2 FAQ

            .question
                h3 Who can participate?
                p .
                    The hackathon is open to all students in institutions such as NUS, NTU, SMU and SUTD. Students in polytechnics and junior colleges are welcome as well.

            .question
                h3 How big should my team be?
                p .
                    The maximum team size is 4; you can participate individually as well.

            .question
                h3 Can I use existing code?
                p .
                    You are free to use any open source libraries, including those you have coded before.
                    <br/>
                    However, you cannot use a project you have made before.

            .question
                h3 Will I have IP rights over my code?
                p .
                    Yep. <a href="http://en.wikipedia.org/wiki/All_your_base_are_belong_to_us">All your base still belongs to yous</a>.
                    //- yous: sic

            .question
                h3 What's the judging criteria?
                p .
                    Please check the <a href="/rules">rulebook</a> for more details.

            .question
                h3 Will food be provided?
                p Dinner and supper are on us, as well as the next day's breakfast and lunch, and snacks in between.
                p Oh, did we mention free-flow of coffee and drinks throughout?

            .question
                h3 What am I supposed to develop?
                p .
                    Anything you want. A good starting point would be to consider problems you want to solve.
                    <!--<br/>
                    // <a href="/">Here's</a> a list of projects from last year to give you a better idea.-->

            .question
                h3 Am I limited to X language, Y framework, Z platform?
                p .
                    Use whatever language/framework/platform you want :)

            .question
                h3 Even a hardware project?
                p .
                    Sure! We really do mean whatever you want.
        
        section.span11.offsetp.orange-top
            h2 Sponsors
            #logos
                a(href="http://palantir.com")
                    img(src='/img/palantir.png', alt='Palantir')
                //- a(href="http://paypal.com")
                //-     img(src='/img/paypal.png', alt='Paypal Logo')
                a(href="http://www.comp.nus.edu.sg")
                    img(src='/img/soc.jpg', alt='NUS School of Computing')
                //- a(href="http://www.nus.edu.sg/enterprise/")
                //-     img(src='/img/github.png', alt='NUS Enterprise')
                a(href="http://github.com")
                    img(style='width:120px', src='/img/github.png', alt='Github')
                //- br
                //- br
                a(href="https://www.semantics3.com/")
                    img(src='/img/semantics3.png', alt='Semantics3')
                    
