doctype 5
html
  head
    title hacknroll by NUS Hackers
    
    //- styles
    block styles
        //- font
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600', rel='stylesheet)

        - if (typeof(env) === 'undefined' || (typeof(env) !== 'undefined' && env == "prod")) {
            link(rel='stylesheet', href='/css/main.css')
        - } else {
            link(rel='stylesheet/less', href='/css/main.less')
            script(src='/js/libs/less.js')
        - }

        //- fb meta tags
        //- meta(property="og:image", content="")
        //- meta(property="og:site_name", content="")
        //- meta(property="fb:app_id", content="")
                
  body
    block content
    block scripts