doctype 5
html
  head
    title Hack&amp;Roll 2013 by NUS Hackers
    
    //- styles
    block styles
        //- font
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600', rel='stylesheet', type='text/css')

        - if (typeof(env) === 'undefined' || (typeof(env) !== 'undefined' && env == "prod")) {
            link(rel='stylesheet', href='/css/main.css')
        - } else {
            link(rel='stylesheet/less', href='/css/main.less')
            script(src='/js/libs/less.js')
        - }

        //- fb meta tags
        meta(property="og:image", content="http://hacknroll.nushackers.org/img/hacknrolllogo_fb.png")
        meta(property="og:site_name", content="hack&roll by NUS Hackers")
        meta(name="description", content="A 24h hackathon organised by NUS Hackers")
                
  body
    .container
      .row-fluid
        header.span11.offsetp
          h1
                a(href="/index")
                  img(alt='Hack&Roll by NUS Hackers', width=300, src="/img/hacknrolllogo.png")
          hr.breaking
          h1.top.red the 24 hour hackathon
          h1.top2 24th - 25th Feb &middot; 
            a#calltoaction(href="https://docs.google.com/a/linuxnus.org/spreadsheet/viewform?formkey=dGtWM296RXBHZFlIbkJEZkdHNFN1amc6MQ#gid=0") Register

        block content
          
        footer.span11.offsetp
            p
                &copy; 2013
                &middot;
                <a href='http://nushackers.org'>NUS Hackers</a>

                &middot;
                <a href='http://school.nushackers.org'>hackerschool</a>

                &middot;
                <a href='mailto:coreteam@nushackers.org'>Contact Us</a>
        block scripts
