extends layout

block content
        section.span11.offsetp.gray1
            h2 Rules
            ol.width                
                li This event is open only to:
                    ol
                        li Students of all levels in any educational institution in Singapore (yes, exchange students count as well!)
                        li Anyone waiting entry into an educational institution - e.g. NSFs, PhD candidates, etc.
                li A team can have between 1 and 4 members.
                li All teams <b>need to stay</b> for the duration of the event (24th February 2013 1pm to 25th February 2013 2pm). We <i>do</i>, you know, recommend bringing sleeping bags.<br/><b>Teams that leave will be disqualified.</b>
                li <b>Build something new.</b> You may reuse code for specific components, but recycling an entire project is not OK.
                li <b>Freshman Spot Prize:</b> teams must be made of all freshmen or pre-tertiary level students in order to qualify.
                li Projects are judged based on creativity, technical accomplishment, polish, and usefulness, in that order.
                li Decisions made by the judges are <b>final</b>.
