extends layout

block content
    #container.container
        header
            h1
                a(href="/")
                    img(alt='hack&roll by NUS Hackers', src="/img/hacknrolllogo.png")

        //- main call to action
        h3
            a#calltoaction(href="#") Register Now


        section
            h2 Rules
            ol.rules
                li All members of a team must be active students, or must not have graduated more than a semester ago.
                li A team can have between 1 and 4 members.
