extends layout

block content
    section.rules.span11.offsetp.gray1
        :markdown
            ## Rules
            3. This event is open only to:
               1. Students of all levels in any educational institution in Singapore (yes, exchange students count as well!)
               1. Anyone waiting entry into an educational institution - e.g. NSFs, PhD candidates, etc.
            1. A team can have between 1 and 4 members.
            4. All teams **need to stay** for the duration of the event (24th February 2013 1pm to 25th February 2013 2pm). We *do*, you know, recommend bringing sleeping bags.  
              **Teams that leave will be disqualified.**
            1. **Build something new.** You may reuse code for specific components, but recycling an entire project is not OK.
            5. **Freshman Spot Prize:** teams must be made of all freshmen or pre-tertiary level students in order to *qualify* (i.e. this does not guarantee you a prize)
            9. Projects are judged based on creativity, technical accomplishment, polish, and usefulness, in that order.
            2. Decisions made by the judges are **final**.
            1. The organizers reserve the right to change the above rules at any time.
