// # css reset
@import "reset";

body {
  // color: #4f4f4f;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.container {
  width: 600px;
  padding: 10px;
  position: relative;
  margin: auto;
}

header {
  padding-top: 40px ;
  height: 100px;
  text-align: center;
  h1 {
    img {
      height: 80px;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Georgia", serif;
}

#banner {
  width: 600px;
}


.maintext {
  padding: 15px 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

a {
  color: inherit;
}

h2 {
  font-size: 27px;
  font-weight: 300;
  color: darken(#ff9300, 5);
  padding: 10px 0;
}
h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 5px 0;
}

p#rules {
    margin-top: 10px;
}

.row {
  margin: 8px 10px;
  .label {
    font-weight: 600;
  }
  .addr {
    line-height: 1.2em;
    display: block;
    margin: 10px;
  }
}

section {
  margin: 20px 0;
  padding: 20px 0;
  border-top: solid 1px #eee;
  // min-height: 200px;
}
ol.rules {
    list-style-type: decimal !important;
    margin-left: 30px;
    li {
        padding: 5px 0;
        line-height: 23px;
    }
}

ol {
    list-style-type: square;
    margin-left: 30px;
    li {
        padding: 5px 0;
        line-height: 23px;
    }
}
.question {
  padding: 5px 0;
  line-height: 23px;
}

#calltoaction {
  display: block;
  margin: 10px auto;
  text-align: center;
  padding: 10px 20px;
  width: 250px;
  font-size: 30px;
  text-decoration: underline;
  font-weight: 600;
  color: #d70000;
}

div#logos {
    padding: 10px 0;
    text-align: center;
    img {
        width: 110px;
        // height: ;
        margin: 10px;
    }
}


footer {
  text-align: center;
  font-size: 15px;
  color: #aaa;
  font-weight: 300;
  padding-bottom: 20px;
}

b {
  font-weight: bold;
}

small {
  font-size: 16px;
}

i {
  font-style: italic;
}