@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.7em;
}

.button {
    border-radius: 0;
    font-size: 1.5em;
    padding: 1em;
    height: auto;
    line-height: auto;
}

.tbd {
    font-size: 1.6em;
    text-align: center;
}

.section-container :link, .section-container :visited {
    color: white;
}

.info {
    background: #222;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7)), url("../../images/pic1.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 0 1px 1px black;
    color: white;
}

.info code {
    color: black;
    text-shadow: none;
}

.timeline {
    background: #222;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7)), url("../../images/pic3.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 0 1px 1px black;
    color: white;
}

.prize {
    background: #6FCB70;
    color: white;
}

.sponsors {
    background: #fda;
    color: #444;
}

.past {
    background: #222;
    background: linear-gradient(rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7)), url("../../images/pic2.jpg");
    text-shadow: 0 1px 1px black;
    background-size: cover;
    background-position: center;
    color: white;
}

.section-container {
    padding-top: 2em;
    padding-bottom: 2em;
}

.section-title h1{
    margin: 7;
    padding: 0;
    font-weight: bold;
    font-size: 3em;
    font-family: Lato;
    text-align: center;
}

.section {
    padding: 1em;
}

.section-content {
    padding-top: 20px;
}

.sponsors .container {
    width: 100%;
}

.hero {
    min-height: 400px;
    text-align: center;
    position: relative;
    font-family: Verdana, Geneva, sans-serif;

    background: rgb(50, 50, 100);
}

footer {
    background: darkslateblue;
    color: white;
    padding-top: 1em;
    text-align: center;
}

.hero .logo {
    width: 27em;
    max-width: 90%;
}

.custom-btn {
    display: inline-block;
    width: 200px;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-weight: 300;
    letter-spacing: 3px;
    background-color: cornflowerblue;
    border: 3px solid #fff;
    border-radius: 1px;
    text-align: center;
    outline: none;
    text-decoration: none;
    <!--transition: color 0.3s ease-out,
    background-color 0.3s ease-out,
    border-color 0.3s ease-out;-->
}
.custom-btn:hover,
.custom-btn:active {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    transition: color 0.3s ease-in,
    background-color 0.3s ease-in,
    border-color 0.3s ease-in;
}

.hero .container {
    height: 100%;
}

.hero canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.hero {
    color: white;
}

.hero h1 {
    font-weight: bold;
}

.vcenter {
    position: relative;
}

.vcenter>.vcenter-inner {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
}

.vcenter:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
    margin-right: -1em;
}

.sponsor-title {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin: 1em;
    border-bottom: 3px solid;
    border-top: 3px solid;
}

.sponsors-list-huge, .sponsors-list-big, .sponsors-list-medium, .sponsors-list-small {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.sponsors-list-huge img {
    max-width: 100%;
    max-height: 170px;
}

.sponsors-list-big li {
    max-width: 75%;
}

.sponsors-list-big img {
    max-width: 100%;
    max-height: 102px;
}

.sponsors-list-medium img {
    max-width: 100%;
    height: 80px;
}

.sponsors-list-small img {
    max-width: 100%;
    height: 50px;
}


.sponsors-list-huge > li, .sponsors-list-big > li, .sponsors-list-medium > li, .sponsors-list-small > li {
    display: inline-block;

    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(1);

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;

    opacity: 0.6;
}

.sponsors-list-huge > li:hover, .sponsors-list-big > li:hover, .sponsors-list-medium > li:hover, .sponsors-list-small > li:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);

    opacity: 1;

}

.past header {
    font-size: 1.5em;
    text-align: center;
}

@media (min-width: 550px) {
    .hero .vcenter-inner {
        min-height: 450px;
    }
}

@media (min-width: 370px) {
    .hero {
        height: 50vh;
        min-height: 600px;
    }
}
