#logo {
    width:15%;
    max-width: 183px;
    top: 5px;
    left: 1%;
    position: fixed;
    z-index: 1000;
}

body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
}


nav {
    padding-top: 0px;
    padding-bottom: 0px;
    //font-family: 'Helvetica, Arial, sans-serif';
}

h1,h2,h3,h4,h5,h6{
    font-weight:250;
    text-shadow: 0 1px 3px rgba(0,0,0,.4);
}
header#top-section{
    position:relative;
    overflow:hidden;
    padding-top:0px;
    //background: url(../../images/bg1.jpg) 100% 0% no-repeat;
    background: #fcfcfc;
    background-size:100% 100%;
    min-height:700px;
    width:100%;
    min-width:100%;
    z-index:0;

}
.inner-top-bg{
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    display:inline-block;
    width:100%;
    min-width:100%;
    height:100%;
    min-height:100%;
}
.hero-unit {
    background: none;
    //text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px;
    //text-shadow: 0 1px 3px rgba(248,194,46,.7), 0 0 30px rgba(248,194,46,.9);
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index:1;
    width:100%;
    text-align:center;
    padding-right:0px;
    padding-left:0px;
}

.hero-unit h1{
    color:#222;
    padding-top:100px;
}

.hero-unit p.lead {
    color:#333;
    font-size:140%;
    max-width:60%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.btn.btn-start{
    background: #f8941d;
    border:4px solid #fff;
    color:#fff;
    padding: 19px 24px;
    font-size: 24px;
    font-weight: 200;
    margin-top:40px;
    z-index:2;
}		
.btn.btn-start:hover{
    background: #F8C22E;
    color:#fff;
    padding: 19px 24px;
    font-size: 24px;
    font-weight: 200;
    margin-top:40px;
    z-index:2;
}

p.lead {
    text-align: center;
}

section {
    padding-top:50px;
    padding-bottom:100px;
    min-height:600px;
    width:100%;
    min-width:100%;
    position:relative;
    overflow:hidden;
    background: #fcfcfc;
}

#Section-1{
    //background: url(../../images/bg2.jpg) 50% 0% fixed repeat;
    background-size:100% 100%;
    min-height:650px;
}

#Section-2{
    //background: url(../../images/bg3.jpg) 50% 0% fixed repeat;
    background-size:100% 100%;
    min-height:650px;
} 

footer{
    //background: url(../../images/bg4.jpg) 50% 0% fixed repeat;
    background: #fcfcfc;
    background-size:100% 100%;
    max-height:600px;
    width:100%;
    min-width:100%;
    padding-top:50px;
    min-height:600px;
    position:relative;
}

#Section-2 hr{
    color:tramsparent;
}

#Section-3{
    background:#fff;
}

.color-white{
    color:#fff;
}

.box{
    background: rgba(250,250,250, 0.65);
    padding:20px;
    margin-bottom:30px;
    -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    1px 1px 12px rgba(0, 0, 0, 0.5);
    box-shadow:         1px 1px 12px rgba(0, 0, 0, 0.5);
    border:1px solid rgba(250,250,250, 0.5);
}	  

.box.dark{
    background: rgba(250,250,250, 0.4);
    padding:20px;
    margin-bottom:30px;
    -webkit-box-shadow: 1px 1px 12px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 1px 12px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 1px 12px rgba(50, 50, 50, 0.5);
}

/****************** NAVIGATION STYLES *************************/
.navbar .nav > li > a {
    float: none;
    padding: 15px 20px 15px;
    color: #999;
    text-decoration: none;
    text-shadow: none;
    font-size: 19px;
    font-wight:bold;
    //text-transform:uppercase;
}
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
    color: #333;
    text-decoration: none;
    background-color: #fff;
    -webkit-box-shadow:  none;
    -moz-box-shadow:   none;
    box-shadow:  none;
}
.navbar .brand {
    padding: 15px 0px 15px;
    font-size:28px;
}

.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
    -webkit-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow:0 3px 0px rgba(0, 0, 0, 0.1);
}

.navbar-inner {
    min-height: 30px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    background-repeat: repeat-x;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar .nav > li > a{
    border-bottom:3px solid transparent;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: #E6A423;
    fon-weight:600;
    border-bottom:3px solid #E6A423;
}	
/*************** @media ******************/
@media (max-width: 979px){
    body{
        padding:0px;
    }
    .navbar-fixed-top {
        margin-bottom: 0px;
    }

    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }

    .navbar .container {
        width: auto;
        padding: 0px 20px;
    }

    .navbar .brand {
        padding-right: 10px;
        padding-left: 10px;
        margin: 0 0 0 15px;
    }
    .container{
        padding:0px 20px;
    }

    .hero-unit {
        padding: 0px;
        top:30px;
    }
    .hero-unit h1 {
        padding-top: 150px;
        font-size:40px;
    }
    footer .page-header h3{
        padding-top:100px !important;
    }
}
